# This is an OpenAPI Specification (https://swagger.io/specification/)
# for the Prescription Status Update API
# owned by NHS Digital (https://digital.nhs.uk/)

openapi: 3.0.3
info:
  title: Custom Prescription Status Update API
  version: "0.0.1"
  contact:
    name: Custom Prescription Status Update API Support
    url: https://digital.nhs.uk/developer/help-and-support
    email: api.management@nhs.net
  description: |
    ## Overview
    The Custom Prescription Status Update API is restricted to dispensing suppliers with an existing prescription 
    status update solution, who can onboard to provide updates to patients on a national scale via the NHS App 
    (and other third parties in the future) by September 2024.
    ## Who can use this API
    The Custom Prescription Status Update API is intended for those dispensing suppliers who have signed the MOU to 
    supply status updates by September 2024, so they can provide and push the information required to a central NHS data store.
    ## Related APIs
    The following APIs are related to the "Custom Prescription Status Update" API:
    * [Electronic Prescriptions Service](https://digital.nhs.uk/developer/api-catalogue/electronic-prescription-service-fhir): the national service for creating and dispensing prescriptions across health and social care.
    * [Prescriptions for Patients](https://digital.nhs.uk/developer/api-catalogue/prescriptions-for-patients): the national service to retrieve prescriptions data for individual patients from the Electronic Prescription Service (EPS), for use in patient-facing applications.
    ## API Status and Roadmap
    This API is [in development](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#statuses), meaning the API will soon be available for testing via a sandbox service or an integration environment - but we expect to make breaking changes based on developer feedback.
    ## Service Level
    This API is a platinum service, meaning it is operational and supported 24 hours a day, 365 days a year.
    For more details see [service levels](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#service-levels).
    ## Technology
    This API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#basic-rest).
    ## Network Access
    This API is available on the internet.
    For more details see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).
    ## Security and Authorisation
    This API only supports [application-restricted access](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/application-restricted-restful-apis-api-key-authentication), meaning we authenticate the calling application but not the end user.
    ### Application-restricted Access
    The end user could be:
    * a healthcare worker - in which case you must ensure they are authenticated and suitably authorised locally
    * not present at all - for example as part of a back end process to check NHS numbers for data flowing from one system to another
    ### Errors
    We use standard HTTP status codes to show whether an API request succeeded or not.
    They are usually in the range:
    * 200 to 299 if it succeeded, including code 202 if it was accepted by an API that needs to wait for further action
    * 400 to 499 if it failed because of a client error by your application
    * 500 to 599 if it failed because of an error on our server
    Errors specific to each API are shown in the Endpoints section, under Response. See our [reference guide](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#http-status-codes) for more on errors.
    ## Environment and testing
    | Environment      | Base URL                                                            |
    |------------------|---------------------------------------------------------------------|
    | Sandbox          | `https://sandbox.api.service.nhs.uk/custom-prescription-status-update`     |
    | Integration test | `https://int.api.service.nhs.uk/custom-prescription-status-update`         |
    | Production       | `https://api.service.nhs.uk/custom-prescription-status-update`             |
    ### Sandbox testing
    Our [sandbox environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#sandbox-testing):
    * is for early developer testing
    * only covers a limited set of scenarios
    * is stateless, so it does not actually persist any updates
    * is open access, so does not allow you to test authorisation
    For details of sandbox testing, or to try out the sandbox using our "Try this API" feature, see the documentation for each endpoint.
    ### Integration testing
    Our [integration test environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing):
    * is for formal integration testing
    * is stateful, so persists updates
    * includes authorisation, with [smartcard](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/nhs-smartcards-for-developers) and non-smartcard options
    For more details see [integration testing with our RESTful APIs](https://digital.nhs.uk/developer/guides-and-documentation/testing#integration-testing-with-our-restful-apis).
    ## Onboarding
    All dispenser suppliers are being asked to integrate with this new service.

servers:
  - url: "https://int.api.service.nhs.uk/custom-prescription-status-update"
    description: "Integration"
  - url: "https://api.service.nhs.uk/custom-prescription-status-update"
    description: "Production"

paths:
  /format-1:
    post:
      operationId: format-1-prescription-status-update
      summary: Format 1 Update prescription status
      description: |
        ## Overview
        Status updates to be provided on prescription items to allow users of the NHS App and third-party app consumers to track the progress of their prescriptions and when ready to collect.
      parameters:
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        required: true
        content:
          application/json:
            examples:
              multiple-items:
                summary: multiple-items
                description: A request message contains multiple items.
                value:
                  $ref: "examples/format-1-request-multiple-items.json"
      responses:
        "2XX":
          description: |
            The request was processed successfully. Below are the possible status codes within the 2XX range that may be returned:
            | HTTP status | Status code     | Description                                                                                                                            |
            | ----------- | --------------- | -------------------------------------------------------------------------------------------------------------------------------------- |
            | 200         | `success`       | The request was successfully processed.                                                                                                |
            | 201         | `success`       | A new resource was successfully created. No issues detected during validation.                                                         |
            | 202         | `informational` | The request was accepted for processing. A duplicate update was detected, and the message was valid but did not result in a change.    |

        "4XX":
          description: An error occurred.
        "5XX":
          description: An error occurred.
      security:
        - app-level0: []
components:
  securitySchemes:
    app-level0:
      $ref: https://proxygen.prod.api.platform.nhs.uk/components/securitySchemes/app-level0
  parameters:
    ApiKey:
      in: header
      name: API-KEY
      required: true
      description: |
        API Key used to authenticate with the system
      schema:
        type: string
        example: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
security:
  - app-level0: []
x-nhsd-apim:
  temporary: false
  monitoring: true
  access:
    - title: Application Restricted with API key
      grants:
        app-level0: []
  target:
    type: external
    healthcheck: /_status
    url: https://psu.dev.eps.national.nhs.uk
    security:
      type: mtls
      secret: psu-mtls-1
  target-attributes:
    - name: DisplayName
      required: true
      header: attribute-name
  ratelimiting:
    proxy:
      timeunit: "second"
      limit: 40
