# This is an OpenAPI Specification (https://swagger.io/specification/)
# for the Prescription Status Update API
# owned by NHS Digital (https://digital.nhs.uk/)

openapi: 3.0.0
x-nhs-api-spec-guid: 816f3e79-1d81-4ae7-af54-dcd4a739d01a
info:
  title: Prescription Status Update API
  version: "0.0.1"
  contact:
    name: Prescription Status Update API Support
    url: https://digital.nhs.uk/developer/help-and-support
    email: api.management@nhs.net
  description: |
    ## Overview
    The Prescription Status Update API allows dispensing suppliers to push status information about electronic prescriptions to patients on a national scale via the NHS App (and potential other third parties in the future).
    This includes letting patients know when their prescription is ready to collect.
    The overall aim of the service is to reduce burden to front line NHS services by reducing the number of routine patient queries about their prescriptions.

    ## Who can use this API
    The prescription status query API is intended for NHS England internal use only; however, the specification of the data stores will be required by dispensing suppliers so they can provide and push the information required a central NHS data store.
        
    ## Related APIs
    * [Electronic Prescriptions Service](https://digital.nhs.uk/developer/api-catalogue/electronic-prescription-service-fhir): The national service for creating and dispensing prescriptions across health and social care.
    * [Personal Demographics Service](https://digital.nhs.uk/developer/api-catalogue/personal-demographics-service-fhir): the national service for storing and retrieving NHS patient details such as name, address, date of birth, related people, registered GP and NHS number.

    ## API Status and Roadmap
    This API is in an [internal private beta](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#statuses), meaning the API is not currently available for integration by external third parties.

    ## Service Level
    This API is a platinum service, meaning it is operational and supported 24 hours a day, 365 days a year.
    See [service levels](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#service-levels) for more details.

    ## Technology
    This API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#basic-rest).

    It conforms to the [FHIR](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#fhir) global standard for health care data exchange, specifically to [FHIR UK Core](https://digital.nhs.uk/services/fhir-uk-core).

    It includes some country-specific FHIR extensions, which are built against [FHIR UK Core, specifically [UKcore.stu1 0.5.1](https://simplifier.net/packages/fhir.r4.ukcore.stu1/0.5.1).

    You do not need to know much about FHIR to use this API. The API only supports GET requests and the responses will be FHIR.

    FHIR APIs are just RESTful APIs that follow specific rules.
    These rules mean:
    * resource names are capitalised and singular, for example `/Bundle` not `/bundle`
    * array names are singular, for example `line` not `lines` for address lines
    * data items that are country specific and not included in the FHIR global base resources are usually wrapped in an `extension` object

    There are [libraries and software development kits](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#fhir-libraries-and-sdks) available to help with FHIR API integration.

    ## Network Access
    This API is available on the internet.

    For more details see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).

    ## Security and Authorisation
    TBC

    ## Environment and testing
    TBC

    ## Onboarding
    All dispenser suppliers are being asked to integrate with this new service.

    ## Errors
    We use standard HTTP status codes to show whether an API request succeeded or not.
    They are usually in the range:

    * 200 to 299 if it succeeded, including code 202 if it was accepted by an API that needs to wait for further action
    * 400 to 499 if it failed because of a client error by your application
    * 500 to 599 if it failed because of an error on our server

    Errors specific to each API are shown in the Endpoints section, under Response. See our [reference guide](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#http-status-codes) for more on errors.

x-spec-publication:
  operation-order:
    - operations:
        - method: GET
          path: /Bundle

servers:
  - url: "https://int.api.service.nhs.uk/prescription-status-update"
    description: "Integration"
  - url: "https://api.service.nhs.uk/prescription-status-update"
    description: "Production"

paths:

  /:
    post:
      operationId: prescription-status-update-bundle
      summary: Update prescription status
      description: |
        ## Overview
        Status updates to be provided on prescription items to allow users of the NHS App and Third-party App consumers to track the progress of their prescriptions and when ready to collect.
      parameters:
        - $ref: "#/components/parameters/BearerAuthorisation"
        - $ref: "#/components/parameters/RequestID"
        - $ref: "#/components/parameters/CorrelationID"
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: "#/components/schemas/UpdatePrescriptionStatusBundle"
            examples:
              ready-to-collect:
                summary: ready-to-collect
                description: A request message contains tracking status `Ready to collect`.
                value:
                  $ref: examples/request-ready-to-collect.json
              ready-to-deliver:
                summary: ready-to-deliver
                description: A request message contains tracking status `Ready to deliver`.
                value:
                  $ref: examples/request-ready-to-deliver.json
              in-collection-locker:
                summary: in-collection-locker
                description: A request message contains tracking status `In Collection Locker` and a note that describes the collection process.
                value:
                  $ref: examples/request-in-collection-locker.json
              collected:
                summary: collected
                description: A request message contains tracking status `Collected`.
                value:
                  $ref: examples/request-collected.json
              dispatched:
                summary: dispatched
                description: A request message contains tracking status dispatched.
                value:
                  $ref: examples/request-dispatched.json
              multiple-items:
                summary: multiple-items
                description: A request message contains multiple items.
                value:
                  $ref: examples/request-multiple-items.json
      responses:
        "200":
          description: Successful retrieval.
          content:
            application/fhir+json:
              schema:
                $ref: "#/components/schemas/MultipleResponse"
              examples:
                single-item:
                  description: A successful response to a UpdatePrescriptionStatus request, contains a single item.
                  value:
                    $ref: "examples/response-single-item.json"
                multiple-items:
                  description: A successful response to a UpdatePrescriptionStatus request, contains multiple items.
                  value:
                    $ref: "examples/response-multiple-items.json"

        "4XX":
          description: |
            An error occurred as follows:

            | HTTP status | Error code          | Description                                                                                                                               |
            | ----------- | ------------------- | ----------------------------------------------------------------------------------------------------------------------------------------- |
            | 400         | `exception`         | Missing or invalid NHS number in request                                                                                                  |
            | 401         | `processing`        | Missing or invalid OAuth 2.0 bearer token in request                                                                                      |
            | 404         | `not-found`         | No records found for the NHS number in the request                                                                                        |
            | 408         | `timeout`           | Request timed out                                                                                                                         |
            | 429         | `throttled`         | You have exceeded your application's [rate limit](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#rate-limits). |

            The error code will be included in the returned OperationOutcome (below).
          content:
            application/fhir+json:
              schema:
                $ref: "#/components/schemas/operation-outcome"
              examples:
                example:
                  description: |
                    An error response to a request.
                    ODS code already in use.
                  value:
                    $ref: examples/error-ods-code.json

components:
  parameters:
    BearerAuthorisation:
      in: header
      name: Authorization
      description: |
        An [OAuth 2.0 bearer token](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis).
      required: true
      schema:
        type: string
        format: '^Bearer\ [[:ascii:]]+$'
        example: "Bearer g1112R_ccQ1Ebbb4gtHBP1aaaNM"
    RequestID:
      in: header
      name: X-Request-ID
      required: true
      description: |
        A globally unique identifier (GUID) for the request, which we use to correlate logs through different components.
        Must be a universally unique identifier (UUID) (ideally version 4).
        Mirrored back in a response header.
      schema:
        type: string
        pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
        example: 60E0B220-8136-4CA5-AE46-1D97EF59D068
    CorrelationID:
      in: header
      name: X-Correlation-ID
      required: false
      description: |
        An optional ID which you can use to track transactions across multiple systems. It can have any value, but we recommend avoiding `.` characters.
        Mirrored back in a response header.
      schema:
        type: string
        example: 11C46F5F-CDEF-4865-94B2-0EE0EDCC26DA
  schemas:
    UpdatePrescriptionStatusBundle:
      type: object
      required:
        - entry
        - resourceType
        - type
      description: A FHIR transaction Bundle.
      properties:
        resourceType:
          type: string
          description: FHIR resource type.
          default: Bundle
        type:
          type: string
          example: transaction
          description: List of status updates to be performed as one transaction.
        entry:
          type: array
          description: |
            A collection of resources contained within the Bundle.
          items:
            type: object
            required:
              - fullUrl
              - resource
              - request
            description: A FHIR collection Bundle.
            properties:
              fullUrl:
                type: string
                example: http://example.org/fhir/Task/4d70678c-81e4-4ff4-8c67-17596fd0aa46
              resource:
                $ref: "#/components/schemas/UpdatePrescriptionStatusTask"
              request:
                type: object
                required:
                - method
                - url
                properties:
                  method:
                    type: string
                    default: POST
                  url:
                    type: string
                    default: Task
    UpdatePrescriptionStatusTask:
      $ref: schemas/resources/UpdatePrescriptionStatusTask.yaml
    MultipleResponse:
      $ref: "schemas/components/MultipleResponse.yaml"
    SingleResponse:
      $ref: "schemas/components/SingleResponse.yaml"
    operation-outcome:
      $ref: schemas/resources/OperationOutcome.yaml
