export AWS_DEFAULT_PROFILE=eps-dev
export AWS_ENVIRONMENT="dev"
export AWS_PROFILE=eps-dev
export CDK_CONFIG_stackName=psu-cdk-<username>
export STATE_MACHINE_LOG_LEVEL="ALL"
export TEST_PRESCRIPTIONS_1=""
export TEST_PRESCRIPTIONS_2=""
export TEST_PRESCRIPTIONS_3=""
export TEST_PRESCRIPTIONS_4=""
